<div class=“container”>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-3 col-sm-6 mt-3">
        <div class="product-grid">
          <div class="product-image">
            <a href="<%=product_path(product)%>" class="image">
            <% if product.photos.first == nil%>
            <% else %>
                <%=cl_image_tag product.photos.first.key, height: 300, width: 400, crop: :fill, class:"img-1"%>
                <%=cl_image_tag product.photos.last.key, height: 300, width: 400, crop: :fill, class:"img-2"%>
              <% end %>
            </a>
            <ul class="product-links">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-random"></i></a></li>
              <li><a href="<%=new_product_booking_path(product)%>"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
            <a href="<%=product_path(product)%>" class="product-view"><i class="fa fa-search"></i></a>
          </div>
          <div class="product-content position-relative">
            <ul class="rating">
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star disable"></li>
              <li class="disable">(1 reviews)</li>
            </ul>
            <h3 class="title">
            <%= link_to "#{product.title}", product_path(product)%>
            <div class="price position-absolute bottom-0 end-0">$ <%= product.price %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
