<div class=“container”>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-3 col-sm-6 mt-3">
        <div class="product-grid p-4">
          <div class="product-image">
            <a href="<%=product_path(product)%>" class="image">
            <% if product.photos.first == nil%>
            <% else %>
                <%=cl_image_tag product.photos.first.key, height: 300, width: 400, crop: :fill, class:"img-1"%>
                <%=cl_image_tag product.photos.last.key, height: 300, width: 400, crop: :fill, class:"img-2"%>
              <% end %>
            </a>
            <ul class="product-links">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-random"></i></a></li>
              <li><a href="<%=new_product_booking_path(product)%>"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
            <a href="<%=product_path(product)%>" class="product-view"><i class="fa fa-search"></i></a>
          </div>
          <div class="product-content position-relative">
            <ul class="rating">
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star disable"></li>
              <li class="disable">(1 reviews)</li>
            </ul>
            <h3 class="title">
              <%= link_to "#{product.title}", product_path(product)%>
            </h3>
            <p class="text-capitalize"><%= product.description %></p>
            <p class="text-capitalize"><%= product.category.description + " - " + product.gender %></p>

            <ul class="list-group list-group-flush mb-3">
              <li class="list-group-item"><i class="fa-solid fa-star-of-life"></i>   Marca: <%= product.brand %></li>
              <li class="list-group-item"><i class="fa-solid fa-star-of-life"></i>   Color: <%= product.color %></li>
              <li class="list-group-item"><i class="fa-solid fa-star-of-life"></i>   Talle: <%= product.size %></li>
              <li class="list-group-item"><i class="fa-regular fa-person-half-dress"></i>   Genero: <%= product.gender %></li>
              <li class="list-group-item"><i class="fa-solid fa-star-of-life"></i>   Usuario: <%= product.user.username %></li>
            </ul>
            <div>
              <%= link_to "Reservar", new_product_booking_path(product), class:"btn btn-primary text-uppercase" if product.user != current_user %>
              <%= link_to '<i class="fa-solid  fa-pen"></i>'.html_safe, edit_product_path(product), class:"btn btn-primary btn-sm mx-1" if product.user == current_user %>
              <%= link_to '<i class="fa fa-trash"></i>'.html_safe, product_path(product), class:"btn btn-danger btn-sm mx-1", data: {turbo_method: :delete, turbo_confirm: "Seguro?"} if product.user == current_user %>
              <div class="price">$ <%= number_with_precision(product.price, :precision => 0, :delimiter => ',') %></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
