<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('banners/banner-blurred.jpg') %>);">
  <div class="container" >
    <div class="content center-column">
      <h1 class="text-uppercase">Look at Me</h1>
      <h2 class="text-light">Tu armario infinito</h2>
      <p>Disfrutá de la mejor ropa de alquiler </p>
    </div>
  </div>
</div>

<div class="cards my-3">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('banners/banner_feature_choice.jpg') %>)">
    <div class="text-center">
      <h4>ELIGE</h4>
      <p>Selecciona la fecha y las prendas que quieres elegir</p>
    </div>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('banners/banner_feature_disfruta.jpg') %>)">
    <div class="text-center">
      <h4>DISFRUTA</h4>
      <p>Vestí las mejores prendas como si fueran tuyas</p>
    </div>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('banners/banner_feature_coordinar.jpg') %>)">
    <div class="text-center">
      <h4>DEVUELVE</h4>
      <p>Coordina con el dueño como regresarás tu pedido</p>
    </div>
  </div>
</div>
<h2 class="text-uppercase my-5">Encuentrá tu prenda ideal</h2>
<div class="cards my-3">
  <% @products.each do |product| %>
    <div class="card">
      <img src="<%= product.images_url %>" class="card-img-top" alt="...">

      <div class="card-body text-center">
        <h5 class="card-title text-uppercase"> <%= product.title %> </h5>
        <p class="card-text"> <%= product.description %></p>
        <p class="card-text"> <%= product.user.username %></p>
        <a href="#" class="btn btn-primary">ALQUILALO YA!</a>
      </div>
    </div>
  <% end %>
</div>
