<h1>Aqui se muestra la info del producto seleccionado</h1>

<div class="container">
  <div class="row">
    <div class="offset-2 col-8 col-sm-8 col-lg-8">
      <div class="card-product m-3">
        <div class="product-image">
      <h1><%= @product.title%></h1>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%=cl_image_tag @product.photos.first.key, height: 400, width: 700, crop: :fill, class:"d-block w-100"%>
    </div>
    <div class="carousel-item">
      <%=cl_image_tag @product.photos.last.key, height: 400, width: 700, crop: :fill, class:"d-block w-100" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

        <div class="card-product-infos">

          <h2><%= @product.brand %></h2>
          <h2><%= @product.description %> </h2>
          <p>Precio por día: $<%= @product.price %></p>
          <p>Tamaño: <%= @product.size %></p>
          <p>Color: <%= @product.color %> </p>
          <p>Género: <%= @product.gender %></p>

          <div class="product-price-btn">
        <button type="button">ALQUILAR</button>
      </div>
          <div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>




<% if policy(@product).edit? %>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
<% end %>
<!-- [...] -->
<%= button_to "Destroy this produnct", @product, method: :delete if policy(@product).destroy? %>
